/*
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
*/

progress {
  border: none;
  width: 100px;
  height: 10px;
  border-radius: 20px;
  border: 1px solid #75715e;
  background: transparent;
  text-align: right;
}

progress::-webkit-progress-value {
  border-radius: 20px;
  background: transparent;

}

progress::-moz-progress-bar {
  border-radius: 20px;
  background: transparent;
}

progress::-webkit-progress-bar {
  /*background: blue;*/
  border-radius: 20px;
  background: transparent;
}

.deadline_end::-webkit-progress-value{
  background-color: #272822;
  border-radius: 20px;
}

.deadline_danger::-webkit-progress-value{
  background-color: #f92672;
  border-radius: 20px;
}

.deadline_mild::-webkit-progress-value{
  background-color: #fd971f;
  border-radius: 20px;
}

.deadline_safe::-webkit-progress-value{
  background-color: #a6e22e;
  border-radius: 20px;
}
